.container
{
    background: rgb(160, 188, 255);
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 15px 15px rgba(0,0,0,.25);
    transition: all .4s ease;
}

.container:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.45);
}

.container-item
{
    display: inline;
    font-size: 35px;

}
