.container-blue
{
    background: rgb(160, 188, 255);
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 40px;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 15px 15px rgba(0,0,0,.25);
    transition: all .4s ease;
}

.container-blue:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.45);
  }

  .container-green
  {
      background: rgb(160, 255, 182);
      text-align: center;
      width: 50%;
      margin: auto;
      margin-top: 50px;
      padding-bottom: 40px;
      border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
      box-shadow: 15px 15px rgba(0,0,0,.25);
      transition: all .4s ease;
  }
  
  .container-green:hover {
      border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
      box-shadow: 10px 10px rgba(0,0,0,.45);
    }

.container-item
{
    display: inline;
    font-size: 20px;
}